@use "./variables.scss";

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 235, 218);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  padding: 1rem;
}

.titlebar {
  font-size: 1.5rem;
  box-shadow: 1px 1px 5px gray;
  box-sizing: border-box;

  .logo {
    width: 0.5%;
    &__initial {
      font-weight: bold;
    }
    &__title {
      margin-left: 0.5rem;
    }
  }

  .navigation {
    width: 35%;
    color: red;
    .navigation__list {
      .navigation__item:hover {
        background-color: aquamarine;
        padding: 1rem;
      }
    }
  }
}

.hero {
  background-image: url("../images/frame-harirak-Ei_lQ6kTwiI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -256px;
  background-position-y: -12px;
  width: 80%;
  margin: 0 auto;
  padding-top: 6rem;
  padding-bottom: 1rem;
  color: white;

  .hero__container {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
  }

  .hero__title {
    font-weight: bold;
    font-size: 2.25rem;
    padding-top: 10rem;
    margin-bottom: 1rem;
  }

  .hero__text {
  }

  .text--drop-shadow {
    text-shadow: 3px 3px black;
  }
}

.search {
  background-color: #a96856;
  .input-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    input {
      // margin: 0 auto;
      border-radius: 5px;
      border: none;
    }

    input[type="button"] {
      width: 20%;
      max-width: 100px;
      padding: 4px 0;
      margin-left: 5%;
      background-color: #5697a9;
      color: white;
      font-weight: bold;
    }

    input[type="text"] {
      width: 70%;
      max-width: 500px;
    }
  }
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 1rem;
  margin: 0 1rem;

  .card {
    width: 100%;
    background: rgb(176, 176, 176);
    background: linear-gradient(
      90deg,
      rgb(194, 90, 49) 0%,
      rgba(242, 199, 97, 1) 30%,
      rgba(242, 199, 97, 1) 100%
    );
    transition: 0.25s ease-out;
    color: white;
    box-sizing: border-box;
    padding: 2rem;
    // margin: 1rem;
    border: 3px solid #a96856;
    border-radius: 5px;
    max-width: 500px;
    text-align: center;

    &__title {
      font-weight: bold;
      font-size: 1.25rem;
      // margin: 0 auto;
      margin-bottom: 1rem;
      border-bottom: 2px solid white;
    }

    &__text {
    }
  }
  .card:hover {
    box-shadow: 5px 5px 20px black;
    border: 3px solid white;
  }
}

.result-text {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1rem;
}
